.all-questions-page {
  min-width: 100%;
  height: 100vh;
  background: #212121;
  color: white;
  font-family: "KoHo", sans-serif;

  .title {
    text-align: center;
    font-size: 3rem;
  }
  .all-questions {
    border: 2px solid white;
    padding: 1rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
