.all-questions-page {
  min-width: 100%;
  height: 100vh;
  background: #212121;
  color: white;
  font-family: "KoHo", sans-serif;

  .title {
    text-align: center;
    font-size: 3rem;
  }
  .all-questions {
    border: 2px solid white;
    padding: 1rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    position: relative;
    .options {
      position: absolute;
      left: 20%;
      top: 30%;
    }

    .answer {
      position: absolute;
      left: 35%;
      top: 30%;
    }

    .marks {
      position: absolute;
      top: 30%;
      left: 47%;
    }

    .grade {
      position: absolute;
      top: 30%;
      left: 53%;
    }

    .subject {
      position: absolute;
      top: 30%;
      left: 59%;
    }

    .topic {
      position: absolute;
      left: 68%;
      top: 30%;
    }
  }
}
